## General
.vs/
.vscode/
.history/
.idea/
*.sln.iml
*.suo
*.user
*.userosscache
*.sln.docstates

## Build & Artifacts
.artifacts/
bin/
obj/
publish/
Generated\ Files/
[Bb]uild[Ll]og.*

## AI & Tooling
.claude/
.gemini/
.openclaude
.cr/personal
conductor/
docs/superpowers/

## OS specific
[Tt]humbs.db
[Dd][Ss]_[Ss]tore

## Lock files
project.lock.json
project.fragment.lock.json
